Consultas HITL.json
{
  "name": "Consultas HITL",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a35e78c3-2e83-474b-814a-77d0703caac7",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "4a58f197-cfa9-4938-85a2-f3cb0da679d0",
      "name": "Webhook",
      "webhookId": "a35e78c3-2e83-474b-814a-77d0703caac7"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "eadc30ac-b819-4be8-b6f6-cdfbf3ecb3a3",
              "leftValue": "={{ $json.body.record.respondida }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "f6ed20c7-e57d-498d-b2af-5d147afe1135",
              "leftValue": "={{ $json.body.record.respuesta }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        0
      ],
      "id": "f2ebf479-5ea5-4923-84c2-3ab0018fbaaf",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Necesito que generes la respuesta final para el cliente basándote en la siguiente información:\n\n### 1. CONTEXTO ORIGINAL\nEl cliente había enviado este mensaje o solicitud:\n\n\"{{ $json.body.record.pregunta }}\"\n\n---\n\n### 2. INSTRUCCIÓN DEL DISEÑADOR (HUMAN-IN-THE-LOOP)\nEl diseñador evaluó el caso y te ordenó responder esto:\n\n\"{{ $json.body.record.respuesta }}\"\n---\n\n### TU TAREA:\nRedacta la respuesta amable para el cliente siguiendo ESTRICTAMENTE la instrucción del diseñador.",
        "options": {
          "systemMessage": "=ERES UN ASISTENTE DE COMUNICACIÓN PROFESIONAL PARA UNA AGENCIA DE DISEÑO.\nTu función crítica es actuar como intermediario entre el equipo de diseño y el cliente final.\n\n### TUS DIRECTRICES (PRIORIDAD ABSOLUTA):\n1.  **LA PALABRA DEL DISEÑADOR ES LEY:** Tu tarea principal es comunicar EXACTAMENTE la decisión o instrucción que te ha dado el diseñador humano. No puedes cambiar el sentido de su mensaje.\n2.  **TONO:** Debes transformar la instrucción técnica o breve del diseñador en un mensaje amable, empático, profesional y claro para el cliente.\n3.  **PROHIBICIONES:**\n    * NO agregues información que el diseñador no haya mencionado.\n    * NO hagas promesas adicionales.\n    * NO des opiniones personales.\n    * NO inventes excusas.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        464,
        -16
      ],
      "id": "0f8df56e-7f56-498c-bfa9-137343cc4d32",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        464,
        144
      ],
      "id": "7c184158-b4f3-4e4a-86bf-a20e1ceb36fd",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "gJQ9jQW8CU9k2Spi",
          "name": "OpenAi (VerAutos)"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').first().json.body.record.ig_id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        560,
        256
      ],
      "id": "991e5e68-208a-4b7f-b048-ec00f0f147fa",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "WHoHMrywPnuDBaiS",
          "name": "Postgres (NeuzStudio)"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/sending/sendContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"subscriber_id\": {{ $('Webhook').item.json.body.record.ig_id }},\n  \"data\": {\n    \"version\": \"v2\",\n    \"content\": {\n      \"type\": \"instagram\",\n      \"messages\": [\n        {\n          \"type\": \"text\",\n          \"text\": {{ JSON.stringify($json.output) }}\n        }\n      ]\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1040,
        -16
      ],
      "id": "96ee99d8-5708-4cbb-9aa0-a90344a4b814",
      "name": "HTTP Request (FINAL)",
      "credentials": {
        "httpHeaderAuth": {
          "id": "15iviZLWm1P2gOTI",
          "name": "Neuz.Studio"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map((item) => {\n  let text = item.json.output || \"\";\n  \n  // Definimos ambos triggers (Venta y Reunión)\n  const triggerVenta = \"perfecto, entre los proximos 2 dias habiles se contactara un diseñador con vos\";\n  const triggerReunion = \"genial, te esperamos en la reunion\";\n  const tag = \"[STATUS: CLOSED]\";\n\n  // 1. Detección de cierre (evalúa si tiene la frase de venta, la de reunión, o directamente el tag)\n  item.json.should_close = text.toLowerCase().includes(triggerVenta.toLowerCase()) || \n                           text.toLowerCase().includes(triggerReunion.toLowerCase()) ||\n                           text.includes(tag);\n\n  // 2. Limpieza INTELIGENTE\n  let cleanOutput = text\n    .replace(tag, \"\") // Borramos el tag técnico\n    .replace(/\\n{3,}/g, '\\n\\n') // Si hay 3 o más saltos de línea seguidos, deja solo 2.\n    .trim(); // Quita espacios vacíos al inicio y final\n\n  item.json.output = cleanOutput;\n  \n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        -16
      ],
      "id": "dd7949cb-05fa-43ac-a5ec-86ea6516aaaa",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request (FINAL)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "5b6ad73c-6476-43d2-8d1a-294b18bc5f38",
  "meta": {
    "instanceId": "e9aa4fcc36de01cb192faebc915f2a52eb3f1080b8d8c878f24c05c1982b6938"
  },
  "id": "90mFR7nk7BlQWiJJ",
  "tags": []
}