Registro Ventas y Tareas.json
{
  "name": "Registro Ventas y Tareas",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Procesar el registro de la siguiente venta con estos datos técnicos:\n\nPaís: {{ $json.fieldPais }}\n\nUtiliza tus herramientas de Supabase para cargar esta información siguiendo las reglas que tenés en tu System Message.",
        "options": {
          "systemMessage": "=Rol:\nSos un Asistente Administrativo de alta precisión. Tu función es recibir un paquete de datos de una venta cerrada y replicar la información en las bases de datos de Supabase correspondientes.\n\nDatos de entrada (Esquema Técnico):\nProcesarás los siguientes campos: fieldMontoPago y fieldPais.\n\nTus Tareas Obligatorias:\n\n1. Carga en \"Insert Venta\" (Supabase)\nUsá la herramienta correspondiente para cargar la informacion con esta lógica:\n\nLógica de Moneda:\n\nSi {{ $json.fieldPais }} es Argentina, cargá en la herramienta \"Insert Venta\" de Supabase en el field value de \"tipo_moneda\" solamente la palabra \"ARS\".\n\nSi {{ $json.fieldPais }} es cualquier otro país, cargá en la herramienta \"Insert Venta\" de Supabase en el field value de \"tipo_moneda\" solamente la palabra \"USD\".\n\nComo ultimo paso, ejecuta la herramienta \"Registrar venta Notion\"."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        480,
        -112
      ],
      "id": "4996aaa1-61c1-4e0c-a321-44d76e02b142",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        352,
        112
      ],
      "id": "fd44662d-d203-4aaf-88c6-a77e5b1bc286",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "vAoStjMPqy9711cA",
          "name": "OpenAi (NeuzStudio)"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "registro_notion",
        "contextWindowLength": 1
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        480,
        112
      ],
      "id": "bd56b26a-97f9-48c8-b92f-77b25567b0f6",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "fieldCliente"
            },
            {
              "name": "fieldQueCompro"
            },
            {
              "name": "fieldMontoPago",
              "type": "number"
            },
            {
              "name": "fieldPais"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -96,
        -112
      ],
      "id": "21b1a82e-1856-409e-b509-61d693f6ac4b",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "tableId": "ventas",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "cliente",
              "fieldValue": "={{ $json.fieldCliente }}"
            },
            {
              "fieldId": "servicio",
              "fieldValue": "={{ $json.fieldQueCompro }}"
            },
            {
              "fieldId": "monto_pesos",
              "fieldValue": "={{ $json.fieldPais.toLowerCase().trim() === 'argentina' ? $json.fieldMontoPago : null }}"
            },
            {
              "fieldId": "monto_usd",
              "fieldValue": "={{ $json.fieldPais.toLowerCase().trim() !== 'argentina' ? $json.fieldMontoPago : null }}"
            },
            {
              "fieldId": "estado_pago",
              "fieldValue": "pagado"
            },
            {
              "fieldId": "fecha_pago",
              "fieldValue": "={{ $now.toISODate() }}"
            },
            {
              "fieldId": "estado",
              "fieldValue": "=Completada"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        608,
        112
      ],
      "id": "1b2587f0-67cc-41f7-bd6a-d96e89ee2fe7",
      "name": "Insert Venta",
      "credentials": {
        "supabaseApi": {
          "id": "WZETzkfN1F4MDmoC",
          "name": "Supabase (AdminNeuz)"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "38ccda2c-1017-44a6-84e8-cc6ce4462d92",
              "name": "fieldCliente",
              "value": "={{ $json.fieldCliente }}",
              "type": "string"
            },
            {
              "id": "d88f4ffd-d8b4-4116-9fc4-f6d37b3a39aa",
              "name": "fieldQueCompro",
              "value": "={{ $json.fieldQueCompro }}",
              "type": "string"
            },
            {
              "id": "1d6c2453-c86a-468b-84d7-48f81034cef0",
              "name": "fieldMontoPago",
              "value": "={{ $json.fieldMontoPago }}",
              "type": "string"
            },
            {
              "id": "e279d5f8-2057-43da-9246-943dbe2e18d6",
              "name": "fieldPais",
              "value": "={{ $json.fieldPais }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        176,
        -112
      ],
      "id": "919464c8-218d-430c-aca7-6823c4b3bca1",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "tableId": "tasks",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "cliente",
              "fieldValue": "={{ $('Edit Fields').item.json.fieldCliente }}"
            },
            {
              "fieldId": "que_compro",
              "fieldValue": "={{ $('Edit Fields').item.json.fieldQueCompro }}"
            },
            {
              "fieldId": "proyecto",
              "fieldValue": "Clientes Particulares"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        832,
        -112
      ],
      "id": "218b5387-abc4-4ee5-9155-348344459866",
      "name": "Create Task",
      "credentials": {
        "supabaseApi": {
          "id": "WZETzkfN1F4MDmoC",
          "name": "Supabase (AdminNeuz)"
        }
      }
    },
    {
      "parameters": {
        "description": "\"Utilizá esta herramienta para extraer y enviar todos los campos requeridos basándote  para el registo de venta en Notion.\"",
        "workflowId": {
          "__rl": true,
          "value": "lC721zKbpnAJHppM",
          "mode": "list",
          "cachedResultUrl": "/workflow/lC721zKbpnAJHppM",
          "cachedResultName": "Sub-Flow-Notion"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "fieldMontoPago": "={{ $json.fieldMontoPago }}",
            "fieldPais": "={{ $json.fieldPais }}",
            "fieldQueCompro": "={{ $json.fieldQueCompro }}",
            "fieldCliente": "={{ $json.fieldCliente }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "fieldCliente",
              "displayName": "fieldCliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "fieldQueCompro",
              "displayName": "fieldQueCompro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "fieldMontoPago",
              "displayName": "fieldMontoPago",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "fieldPais",
              "displayName": "fieldPais",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        832,
        368
      ],
      "id": "72c88034-b2a1-47b8-858e-56f8099c574c",
      "name": "Registrar venta Notion"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Venta": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar venta Notion": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "9b30c89e-2908-4bf4-b65e-3a315d811dc5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e9aa4fcc36de01cb192faebc915f2a52eb3f1080b8d8c878f24c05c1982b6938"
  },
  "id": "lmyf0lYdVLrEIqnQ",
  "tags": [
    {
      "updatedAt": "2026-04-21T19:02:37.107Z",
      "createdAt": "2026-04-21T19:02:37.107Z",
      "id": "mxuEARCBnEAJbeCi",
      "name": "Dashboard-NeuzStudio"
    }
  ]
}